<app-header />

<ion-content [fullscreen]="true">
  <h2 class="text-center text-xl mt-10">Lista De Viajes</h2>
  <div class="flex justify-center mt-10" *ngFor="let item of listadoItems">
    <ion-item>
      <img src="assets/img/auto.png" height="26" width="45" />
      <h2 class="p-3 destino">Hacia: {{ item.destino.length > 15 ? (item.destino | slice:0:15) + '...' : item.destino }}</h2>
      <div class="ml-auto">
        <ion-button class="primary-button" [routerLink]="['/viaje-vivo', item.id]">Detalles</ion-button>
        <ion-button class="danger-button" (click)="eliminar(item.id)">Cancelar</ion-button>
      </div>
    </ion-item>
  </div>
</ion-content>

<app-footer />