<app-header />

<ion-content [fullscreen]="true">
  <h2 class="text-center text-xl mt-10">Lista De Viajes</h2>
  <div class="flex justify-center mt-10">
    <ion-item>
      <img src="assets/img/auto.png" height="26" width="45" />
      <h2 class="p-3">[DESTINO]</h2>
      <div class="ml-auto">
        <ion-button color="primary" routerLink="/iniciar-viaje">Detalles</ion-button>
        <ion-button color="danger" routerLink="/index-conductor">Cancelar</ion-button>
      </div>
    </ion-item>
  </div>
  <div class="flex justify-center mt-10">
    <ion-item>
      <img src="assets/img/auto.png" height="26" width="45" />
      <h2 class="p-3">[DESTINO]</h2>
      <div class="ml-auto">
        <ion-button color="primary" routerLink="/iniciar-viaje">Detalles</ion-button>
        <ion-button color="danger" routerLink="/index-conductor">Cancelar</ion-button>
      </div>
    </ion-item>
  </div>
  <div class="flex justify-center mt-10">
    <ion-item>
      <img src="assets/img/auto.png" height="26" width="45" />
      <h2 class="p-3">[DESTINO]</h2>
      <div class="ml-auto">
        <ion-button color="primary" routerLink="/iniciar-viaje">Detalles</ion-button>
        <ion-button color="danger" routerLink="/index-conductor">Cancelar</ion-button>
      </div>
    </ion-item>
  </div>
    <div class="flex justify-center mt-10">
      <ion-item>
        <img src="assets/img/auto.png" height="26" width="45" />
        <h2 class="p-3">[DESTINO]</h2>
        <div class="ml-auto">
          <ion-button color="primary" routerLink="/iniciar-viaje">Detalles</ion-button>
          <ion-button color="danger" routerLink="/index-conductor">Cancelar</ion-button>
        </div>
      </ion-item>
    </div>
</ion-content>

<app-footer />