<ion-footer>
  <ion-toolbar class="relative">
    <div class="fade-line"></div>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button (click)="viaje()">
          <ion-icon name="car-sport-outline"></ion-icon>
          Iniciar Viaje
        </ion-tab-button>
        <ion-tab-button (click)="listaViajes()">
          <ion-icon name="receipt-outline"></ion-icon>
          Ver Viajes
        </ion-tab-button>
        <ion-tab-button (click)="cuenta()">
          <ion-icon name="person-outline"></ion-icon>
          Cuenta
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>    
  </ion-toolbar>
</ion-footer>