<app-header />

<ion-content [fullscreen]="true">
    <h1 class="text-center text-2xl font-medium mt-4">Agregar una cuenta</h1>
    <h3 class="text-center text-xl font-medium mt-2">en esta cuenta se agregaran <br> tus pagos</h3>
    <div class="flex justify-center mt-6 ml-4 mr-4">
        <ion-input [(ngModel)]="cuentaAsociada.rut" maxlength="12" label="Rut" label-placement="floating" fill="outline" placeholder="00.000.000-0" (ionInput)="formatearRut($event)"></ion-input>
    </div>
    <div class="flex justify-center mt-6 ml-4 mr-4">
        <ion-input [(ngModel)]="cuentaAsociada.nombre" label="Nombre" label-placement="floating" fill="outline" placeholder="Ingrese nombre..."></ion-input>
    </div>
    <div class="flex justify-center mt-6 ml-4 mr-4">
        <ion-input [(ngModel)]="cuentaAsociada.banco" label="Banco" label-placement="floating" fill="outline" placeholder="Ingrese Banco..."></ion-input>
    </div>
    <div class="flex justify-center mt-6 ml-4 mr-4">
        <ion-input [(ngModel)]="cuentaAsociada.tipoCuenta" label="Tipo de Cuenta" label-placement="floating" fill="outline" placeholder="Ingrese Tipo de Cuenta..."></ion-input>
    </div>
    <div class="flex justify-center mt-6 ml-4 mr-4">
        <ion-input [(ngModel)]="cuentaAsociada.numCuenta" label="N de Cuenta" label-placement="floating" fill="outline" placeholder="Ingrese N de Cuenta..."></ion-input>
    </div>
    <div class="flex justify-center mt-4">
        <ion-button (click)="asociarCuenta()">
            <p>
                Asociar cuenta
            </p>
        </ion-button>
    </div>
</ion-content>

<app-footer />