<app-header />

<ion-content [fullscreen]="true">
  <div class="flex justify-center mt-2">
    <img src="assets/img/icon-user.png" alt="User Icon">
  </div>
  <h2 class="text-center">[USER]</h2>

  <section>
    <div class="flex flex-wrap justify-center mt-6 gap-4">
      <button mat-fab class="flex flex-col items-center hover:bg-slate-900">
        <mat-icon class="mb-1 text-2xl">sync_problem</mat-icon>
        <span class="text-sm">Ayuda</span>
      </button>
      <button mat-fab class="flex flex-col items-center hover:bg-slate-900">
        <mat-icon class="mb-1 text-2xl">payments</mat-icon>
        <span class="text-sm">Pago</span>
      </button>
      <button mat-fab class="flex flex-col items-center hover:bg-slate-900">
        <mat-icon class="mb-1 text-2xl">notifications_active</mat-icon>
        <span class="text-sm">Notificaciones</span>
      </button>
    </div>
  </section>
  
  <section>

  </section>

</ion-content>

<app-footer />