<app-header />

<ion-content [fullscreen]="true">
  <h1 class="text-center mt-6 text-2xl font-medium">Pasajero Confirmado</h1>
  <h1 class="text-center mt-20 text-2xl font-medium">Pasajero:</h1>
  <h1 class="text-center mt-6 text-3xl font-medium">Victor Andrade</h1>
  <div class="flex justify-center">
    <ion-button
      expand="block"
      class="viaje mt-10 ml-2 mr-2"
      (click)="continuar()"
    >
      <p class="text-xl" >Continuar</p>
    </ion-button>
  </div>
</ion-content>

<app-footer />