<app-header />

<ion-content [fullscreen]="true">    
    <ion-title class="font-bold text-2xl text-center m-8 mt-16">Buscando Viaje...</ion-title>
    <div class="center-content">
      <ion-list class="w-72" *ngFor="let viaje of listadoItems" [inset]="true">
        <ion-item
          (click)="seleccionarViaje(viaje)"
          [class.selected]="viajeSeleccionado?.id === viaje.id"
        >
          <ion-label>
            <h2>Destino: {{ viaje.destino }}</h2>
            <p>Precio: {{ viaje.precio }} - Hora: {{ viaje.formattedHour }}</p>
          </ion-label>
        </ion-item>
      </ion-list>

      <ion-button *ngIf="viajeSeleccionado" (click)="confirmarViaje()">
        Confirmar Viaje
      </ion-button>
    </div>
</ion-content>

<app-footer />