<app-header />

<ion-content [fullscreen]="true">
  <section class="ml-4 mr-4 mt-6">
    <div class="mt-6">
      <ion-input [(ngModel)]="nombre" label="Usuario" label-placement="floating" fill="outline" placeholder="Ingrese Usuario"></ion-input>
    </div>
    <div class="mt-6">
      <ion-input [(ngModel)]="contrasena" label="Nueva Contraseña" type="password" label-placement="floating" fill="outline" placeholder="Ingrese Nueva Contraseña"></ion-input>
    </div>
    <ion-button expand="block" class="mt-8" (click)="reestablecer()">
      <p>Reestablecer Contraseña</p>
    </ion-button>
  </section>
</ion-content>

<app-footer />