<ion-content [fullscreen]="true">
  <section class="flex items-center h-screen p-16 bg[#ffffff00] text-gray-200">
    <div class="container flex flex-col items-center justify-center px-5 mx-auto my-8">
      <div class="max-w-md text-center">
        <h2 class="mb-8 font-extrabold text-9xl text-gray-400">
          <span class="sr-only">Error</span>404
        </h2>
        <p class="text-2xl font-semibold md:text-3xl">Lo sentimos, no pudimos encontrar esta página.</p>
        <p class="mt-4 mb-8 text-gray-300">Pero no te preocupes, puedes volver a la página principal.</p>
        <a routerLink="/login" class="px-8 py-3 font-semibold rounded bg-[#e6a501] text-white hover:bg-[#d69a01]">
          Volver al Inicio
        </a>
      </div>
    </div>
  </section>
</ion-content>
