<app-header />

<ion-content [fullscreen]="true">
  <h2 class="text-center text-xl mt-10">Lista De Viajes</h2>
  <div class="flex justify-center mt-10" *ngFor="let viaje of listadoItems">
    <ion-item>
      <img src="assets/img/auto.png" height="26" width="45" />
      <h2 class="p-3 destino">Hacia: {{ viaje.destino.length > 15 ? (viaje.destino | slice:0:15) + '...' : viaje.destino }}</h2>
      <div class="ml-auto">
        <ion-button color="primary" [routerLink]="['/viaje-vivo', viaje.id]">Detalles</ion-button>
        <ion-button color="danger" (click)="cancelarViaje(viaje)">Cancelar</ion-button>
      </div>
    </ion-item>
  </div>
</ion-content>

<app-footer />