ion-button{
    --background: #307FE2;
    p{
        background: #fff;
        background-clip: text;
    }
}

@media (max-width:320px){
    .viaje-info{
        font-size: 10.5px;
    }
    ion-button{
        width: 60px;
        p{
            font-size: 10px;
        }
    }
}
@media (max-width: 375px){
    .viaje-info{
        font-size: 10.5px;
    }
    ion-button{
        width: 60px;
        p{
            font-size: 10px;
        }
    }
}
@media (max-width: 425px){
    .viaje-info{
        font-size: 10.5px;
    }
    ion-button{
        width: 60px;
        p{
            font-size: 10px;
        }
    }
}