<app-header />

<ion-content [fullscreen]="true">
    <ion-title class="font-bold text-2xl text-center m-8 mt-20">Bienvenido, {{user.nombre}}</ion-title>
        <div class="flex justify-center text-center">
            <ion-card class="mx-8">
                <ion-card-content class="ml-4 mr-7">
                    <ion-list>
                        <ion-card-title class="mt-2">
                            VIAJES PROGRAMADOS
                        </ion-card-title>
                        <ion-item class="mt-1" *ngFor="let item of listadoItems">
                            <img src="assets/img/auto.png" alt="AutoMini" height="50" width="45">
                            <span class="p-1 viaje-info">Hora: {{ item.formattedHour }}</span>
                            <span class="p-1 viaje-info">Hacia: {{ item.destino.length > 15 ? (item.destino | slice:0:20) + '...' : item.destino }}</span>
                            <div class="ml-auto">
                                <ion-button [routerLink]="['/viaje-vivo', item.id]">
                                  <p>Detalles</p>
                                </ion-button>
                            </div>
                        </ion-item>
                    </ion-list>
                </ion-card-content>    
            </ion-card>
        </div>
</ion-content>

<app-footer />