<app-header />

<ion-content [fullscreen]="true">
  <div class="flex justify-center">
    <img class="rounded" src="assets/img/MapLive.png" alt="" />
  </div>
  <div class="flex justify-center gap-4">
    <ion-button
      expand="block"
      class="qr mt-8 ml-2 mr-2 hover:scale-105 transition-all"
      routerLink="./qr-conductor"
    >
      <p class="text-2xl">QR</p>
    </ion-button>
    <ion-button
      expand="block"
      class="viaje mt-8 ml-2 mr-2 hover:scale-105 transition-all"
      (click)="iniciarViaje()"
    >
      <p class="">Iniciar Viaje</p>
    </ion-button>
  </div>
</ion-content>

<app-footer />
