<app-header />

<ion-content [fullscreen]="true">
  <h2 class="text-center font-bold text-xl mt-4">Pagos</h2>

  <section>
    <ion-card>
      <ion-row class="flex flex-wrap">
        <ion-col class="p-0">
          <img src="assets/img/icon-user.png" alt="Descripción de la imagen" class="w-20 h-20">
        </ion-col>
        <ion-col size="8" class="flex flex-col justify-center p-4">
          <ion-card-title>Pago</ion-card-title>
          <ion-card-subtitle>Se ha realizado un pago de $9000</ion-card-subtitle>
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-card>
      <ion-row class="flex flex-wrap">
        <ion-col class="p-0">
          <img src="assets/img/icon-user.png" alt="Descripción de la imagen" class="w-20 h-20">
        </ion-col>
        <ion-col size="8" class="flex flex-col justify-center p-4">
          <ion-card-title>Pago</ion-card-title>
          <ion-card-subtitle>Se ha realizado un pago de $9000</ion-card-subtitle>
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-card>
      <ion-row class="flex flex-wrap">
        <ion-col class="p-0">
          <img src="assets/img/icon-user.png" alt="Descripción de la imagen" class="w-20 h-20">
        </ion-col>
        <ion-col size="8" class="flex flex-col justify-center p-4">
          <ion-card-title>Pago</ion-card-title>
          <ion-card-subtitle>Se ha realizado un pago de $9000</ion-card-subtitle>
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-card>
      <ion-row class="flex flex-wrap">
        <ion-col class="p-0">
          <img src="assets/img/icon-user.png" alt="Descripción de la imagen" class="w-20 h-20">
        </ion-col>
        <ion-col size="8" class="flex flex-col justify-center p-4">
          <ion-card-title>Pago</ion-card-title>
          <ion-card-subtitle>Se ha realizado un pago de $9000</ion-card-subtitle>
        </ion-col>
      </ion-row>
    </ion-card>
  </section>
</ion-content>

<app-footer />