<app-header />

<ion-content [fullscreen]="true">
  <div class="flex justify-center">
    <div id="map" style="height: 550px; width: 100%;"></div>
  </div>
  @if(user.esConductor){
    <div class="flex justify-center">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Pasajeros en el Viaje</ion-card-title>
        </ion-card-header>      
        <ion-card-content>
          @if(usuariosEnViajes.length > 0){
            <p class="text-white" *ngFor="let user of usuariosEnViajes">✅ {{user.nombre}}</p>
          }@else {
            <p class="text-yellow-500">⚠ Actualmente no hay ningun pasajero!</p>
          }
        </ion-card-content>
      </ion-card>
    </div>
  }
  <div class="flex justify-center gap-4">

  </div>
  <div class="flex justify-center gap-4">
    @if(!user.esConductor){
      <ion-button expand="block" class="mt-8">
        <p>Metodo de pago: <span class="font-bold">{{numeroCuenta.numCuenta ? numeroCuenta.numCuenta : numeroCuenta }}</span></p>
      </ion-button>
    } @else {
      <ion-button expand="block" class="mt-8">
        <p class="text-xs">Notificación de llegada</p>
      </ion-button>
    }
    <ion-button expand="block" class="mt-8">
      <p>Distancia: {{ distancia | number: '1.0-0' }}M</p>
    </ion-button>
  </div>
  <div class="flex justify-center gap-4">
    <ion-button expand="block" class="mt-8 cancel" (click)="ocultarIndicaciones()">
      <p class="text-xs">Ocultar Indicaciones</p>
    </ion-button>
    @if(user.esConductor){
      <ion-button expand="block" class="finalizar mt-8" (click)="confirmarEliminacion(viajeId)">
        <p>Finalizar Viaje</p>
      </ion-button>
    }@else {
      <ion-button expand="block" class="finalizar mt-8" (click)="confirmarCancelacion(listaViaje)">
        <p>Cancelar Viaje</p>
      </ion-button>
    }
  </div>
</ion-content>

<app-footer />
