ion-content{
    --background: #AFAFAF;
}

ion-button{
    --background: #F1F1F1;
    width: 181px;
    height: 33px;
}

ion-button p{
    background: #000;
    background-clip: text;
}

ion-button span{
    background: #172554;
    background-clip: text;
}

.cancel{
    --background: #EC221F;
    p{
        background: #fff;
        background-clip: text;
    }
    &:hover{
        transform: scale(1.03);
        transition: all 0.3s;
    }
}

.finalizar{
    --background: #e6a501;
    p{
        background: #ffffff;
        background-clip: text;
    }
    &:hover{
        transform: scale(1.03);
        transition: all 0.3s;
    }
}
:host ::ng-deep .leaflet-control-layers {
    background-color: rgba(255, 255, 255, 0.8);
}
  
:host ::ng-deep .leaflet-routing-container {
    color: black; 
}

.leaflet-routing-container {
    max-height: 200px; /* Ajusta la altura según tus necesidades */
    overflow-y: scroll; /* Añade scroll para el contenido */
}

.leaflet-routing-alternatives {
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco con transparencia */
    color: #000; /* Texto negro para que sea legible */
    padding: 10px;
}

.hidden {
    display: none;
  }
  