<app-header />

<ion-content [fullscreen]="true">
  <div class="flex justify-center">
    <div id="map" style="height: 550px; width: 100%;"></div>
  </div>
  <div class="flex justify-center gap-4">
    <ion-button expand="block" class="mt-8">
      <p>Distancia: {{ distancia | number: '1.0-0' }}M</p>
    </ion-button>
    <ion-button expand="block" class="mt-8">
      <p class="text-xs">Enviar notificación de llegada</p>
    </ion-button>
  </div>
  <div class="flex justify-center gap-4">
    <ion-button expand="block" class="mt-8">
      <p>Metodo de pago: <span class="font-bold">Efectivo</span></p>
    </ion-button>
    <ion-button expand="block" class="mt-8 cancel" (click)="ocultarIndicaciones()">
      <p class="text-xs">Ocultar Indicaciones</p>
    </ion-button>
  </div>
  <div class="flex justify-center">
    <ion-button expand="block" class="finalizar mt-8" (click)="index()">
      <p>Finalizar Viaje</p>
    </ion-button>
  </div>
</ion-content>

<app-footer />
