.card{
    background-color: #fff;
    color: #000;
    max-width: 390px;
}

button{
    width: 197px;
    height: 52px;
    background-color: #ffb800 !important;
    color: #fff !important;
    border-radius: 8px !important;
}